<div class="container-fluid">

  <!-- start page title -->
  <app-page-title title="REGION DETAILS"></app-page-title>

  <!-- end page title -->

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">{{action}}</h4>
          <form (ngSubmit)="save()" [formGroup]="recordForm">
            <div data-repeater-list="outer-group" class="outer">
              <div data-repeater-item class="outer">
                <div class="row mb-4">
                  <label for="name" class="col-form-label col-lg-2">City</label>
                  <div class="col-lg-10">
                    <select class="form-select" id="inCityId" name="inCityId" formControlName="inCityId" >
                      <option *ngFor="let city of cities" [value]="city.id">
                        {{city.name}}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="row mb-4">
                  <label for="name" class="col-form-label col-lg-2">Name</label>
                  <div class="col-lg-10">
                    <input id="name" name="name" type="text" formControlName="name" class="form-control" placeholder="Name...">
                  </div>
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title mb-4">Region definition</h4>
                    <div style="height: {{mapHeight}}px"
                         leaflet
                         leafletDraw
                         [leafletDrawOptions]="drawOptions"
                         (leafletDrawCreated)="onDrawCreated($event)"
                         [leafletOptions]="options"

                         [leafletZoom]="zoom"
                         [leafletCenter]="center"
                         (leafletDrawStart)="onDrawStart($event)"
                    >
                      <div [leafletLayer]="drawnItems"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="row justify-content-end">
              <div class="col-lg-10">
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </div>
          </form>


        </div>
      </div>
    </div>
  </div>
  <!-- end row -->

</div> <!-- container-fluid -->
