<p>room-editor works!</p>
<div class="row">
  <div class="row">
    <div class="col-lg-6">
      <div class="mb-3">
        <label for="basicpill-namecard-input">Name on Card</label>
        <input type="text" class="form-control" id="basicpill-namecard-input">
      </div>
    </div>

    <div class="col-lg-6">
      <div class="mb-3">
        <label>Credit Card Type</label>
        <select class="form-select">
          <option selected>Select Card Type</option>
          <option value="AE">American Express</option>
          <option value="VI">Visa</option>
          <option value="MC">MasterCard</option>
          <option value="DI">Discover</option>
        </select>
      </div>
    </div>
  </div>
</div>
